
thead>tr{
    background-color: #dddddd;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
}
.listtr:nth-child(even) {
    background-color: #dddddd;
}